.footer {
    padding: 20px 0;
    background-color: #0E1014;
    @include tabletMedia {
        padding-top: 43px;
        padding-bottom: 60px;
    };
    @include mobileMedia{
        z-index: 100;        
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        @include tabletMedia {
            flex-direction: column;
            gap: 30px;
        }
    }

    .title {
        color: #656566;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        @include mobileMedia{
            font-size: 12px;
        }
    }
    .list {
        font-size: 16px;
        color: #e4e5ea;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include mobileMedia{
            font-size: 14px;
        }
        &__item.phone {
            @include mobileMedia{
                font-size: 16px;
            }
        }
        &__item {
            margin-bottom: 10px;
        }
    }

    &__menu {
        .menus {
            display: flex;
            gap: 52px;
            @include mobileMedia{
                font-size: 48px;
            }
        }
    }
    &__contacts {
        text-align: right;
        .list__item {
            margin-bottom: 21px;
            @include mobileMedia{
                margin-bottom: 8px;
            }
        }
        .item__icon {
            margin-right: 10px;
            @include mobileMedia{
                width: 24px;
                height: 24px;
            }
        }
        @include tabletMedia {
            text-align: left;
        }
    }
    &__bottom {
        margin-top: 33px;
        text-align: right;
        font-family: Montserrat;
        .policy-text {
            font-size: 12px;
            color: #e4e5ea;
            margin-bottom: 5px;
        }
        .policy-link {
            font-size: 12px;
            color: #e4e5ea;
            text-decoration: underline;
        }
        @include tabletMedia {
            text-align: left;
        }
    }
}
